@using Entities
@using UsersRewardsWeb.Models
@model UserViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Добавить пользователя</h1>

<form asp-controller="User" asp-action="Add">
    <input asp-for="Id" type="hidden" />
    <br />
    <label asp-for="FirstName">Имя</label>
    <input asp-for="FirstName" />
    <span style="color:red" asp-validation-for="FirstName"></span>
    <br />
    <br />
    <label asp-for="LastName">Фамилия</label>
    <input asp-for="LastName" />
    <span style="color:red" asp-validation-for="LastName"></span>
    <br />
    <br />
    <label asp-for="Birthdate">Дата рождения</label>
    <input asp-for="Birthdate" type="date" />
    <span style="color:red" asp-validation-for="Birthdate"></span>
    <br />
    <br />
    <label>Награды</label>
    @for (int i = 0; i < @Model.Rewards.Count; i++)
    {
        <input type="checkbox" id="@Model.Rewards[i].Title" name="userAwarded" value="@Model.Rewards[i].Id">
        <label asp-for="ListReward[i]">@Model.Rewards[i].Title</label>
    }
    <br />
    <br />
    <button type="submit">Сохранить</button>
</form>